# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/
.next
.next/
next-env.d.ts

# Production
/build
/dist

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Cache
.npm
.eslintcache

# Logs
logs
*.log

# PowerShell scripts
*.ps1
*.md

# MongoDB
mongodb_credentials.txt

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
*.sh

# Only ignore local development .env
.env

# gitignore
.gitignore

*.bat
*.bat
*.bat
.env.production
*.local
